body,ul,p,h1,h2,h3,h4,h5,h6,a{
  padding:0;
  margin:0;
  font:16px "微软雅黑";
}
a{
  text-decoration:none;

}
.lf{
    float:left
}
.rt{
    float:right
}
.clearfix{
    clear:both
}
img{
	 vertical-align: top;
}
input,button{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
}
.clear:after{
    content:"";
    display: block;
    clear: both;
}